.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12%;
  margin-bottom: 12%;
}

.presentation {
  width: 500px;
  height: 200px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: #000;
}

.presentation-name {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 1.5rem;
}

.presentation-profissional {
  display: flex;
  justify-content: flex-start;
}

.photo {
  display: flex;
  justify-content: flex-end;
}

.photo img {
  border: 3px solid rgb(179, 153, 8);
  border-radius: 15px;
  width: 300px;
  height: 300px;
}

